<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% csrf_token %}
</head>
<body>
    <div>
        <h2>Article create</h2>
        <form action="{% url 'Create_Article' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Date </label> <input type="date" name="date"><br>
            <label>Title </label> <input type="text" name="title"><br>
            <label>content</label>
            <textarea name="content"></textarea>
            <p class="file">file upload<input type="file" name="image"></p>
            <p>References</p>
            <textarea name="link"></textarea>
            <button type="submit">Submit</button>
        </form>
        
    </div>
    
</body>
</html>